html {
    height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    height: 150vh;
    background-image: url('../images/intersection.png');
    position: relative;
    border-color: #cccccc;
}
header{
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.content {
    clear: both;
    margin: 15px auto 0 auto;
    width: 960px;
    background: #ffffff;
}
.nav-header {

    height: 100px;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
.about-content{
    overflow: auto;
    float: left;
}
.nav-header p{
    position: absolute;
    left: 10px;
    border-bottom: 1px solid;
}
.nav-name{
    position: absolute;
    height: 100%;
    background: #4aaaa5;
    color: #ffffff;
    padding: 0 40px 0 40px;
    line-height: 100px;
    font-size: 20px;
    left: 150px;
}
.nav-link{
    /*list-style: none;*/
    position: absolute;
    right: 25%;
    bottom: 50%;
}
.nav-link li{
    float: right;
    display: inline;
    height: 100%;
    padding-right: 5px;
    margin-left: 5px;
    border-right: 1px solid #cccccc;

}

.main-content {
    float: left;
    overflow: auto;
    width: 650px;
    background: white;
    padding: 0 0 0 15px;
}
.main-content p {
    width: 90%;
    line-height: 18px;
    text-indent: 30px;
    padding-bottom: 10px;
}
.content-head{
    overflow: auto;
    width: 650px;
    padding: 15px 0;
    background: #ffffff;
}
.content-head p {
    border-bottom: 1px solid;
    width: 95%;
    padding-bottom: 10px;
    margin-left: 15px;
}

.connect-body {
    float: right;
    width: 270px;
    background: #ffffff;
    padding-bottom: 15px;
}
.content-body p {
    padding: 10px 0 0 20px;
}

.connect-head{
    padding-bottom: 10px;
    width: 80%;
    margin-left: 15px;
    margin-bottom: 15px;
}
.connect-head p{
    border-bottom: 1px solid;
    padding: 10px;
}
.connect-list li {
    display: inline;
    height:50px;
    margin-left: 20px;
}
.content-img{
    float: left;
    height: 125px;
    width: 125px;
    padding: 0 10px 0 0;
}
.img-link{
    height:60px;
    width: 60px;
}
footer{
    border-top: 3px solid #4aaaa5;
    clear: both;
    position: absolute;
    width: 100%;
    background: #666666;
    color: #ffffff;
    height: 75px;
    text-align: center;
    line-height: 75px;
    bottom: 0;
}