html {
    height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    border-color: #dddddd;
    height: 150vh;
    background-image: url('../images/intersection.png');
    position: relative;
}
header{
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-color: #cccccc;
}
a{
    text-decoration: none;
}
a:visited{
    color: #777777;
}
a:hover{
    color: crimson;
}
div {
    width: 275px;
    height: 125px;
    position: relative;
    margin: 15px 25px 15px 10px;
}
.img1{
    float:left;
    background-image: url("../images/01-abstract-q-c-300-125-6.jpg");
}
.img2{
    float: right;
    background-image: url("../images/02-abstract-q-c-300-125-7.jpg");
}
.img3{
    float: left;
    background-image: url("../images/03-abstract-q-c-300-125-10.jpg");
}
.img4{
    float: right;
    background-image: url("../images/04-abstract-q-c-100-100-1.jpg");
}
.img5{
    float: left;
    background-image: url("../images/05-technics-q-c-300-125-2.jpg");
}
.img6{
    float: right;
    background-image: url("../images/06-technics-q-c-300-125-4.jpg");
}
textarea {
    width: 620px;
}
.content {
    clear: both;
    margin: 15px auto 0 auto;
    width: 960px;
    background: #ffffff;
}
.nav-header {

    height: 100px;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    position: relative;
}
.about-content{
    overflow: auto;
    float: left;
}
.nav-header p{
    position: absolute;
    border-bottom: 1px solid #dddddd;
}
.nav-name{
    position: absolute;
    height: 100%;
    background: #4aaaa5;
    color: #ffffff;
    padding: 0 40px 0 40px;
    line-height: 100px;
    font-size: 20px;
    left: 150px;
}
.nav-link{
    position: absolute;
    right: 235px;
    bottom: 40%;
}
.nav-link li{
    float: right;
    display: inline;
    height: 100%;
    padding-right: 5px;
    margin-left: 5px;
    border-right: 1px solid #cccccc;
}
.nav-link li:first-child{
    border: none;
}
.main-content {
    float: left;
    overflow: auto;
    width: 650px;
    background: white;
    padding: 0 0 0 15px;
}
.main-content p {
    width: 90%;
    line-height: 18px;
    text-indent: 30px;
    padding-bottom: 10px;
}
.content-head{
    overflow: auto;
    width: 650px;
    padding: 15px 0;
    background: #ffffff;
}
.content-head p {
    border-bottom: 1px solid #dddddd;
    width: 620px;
    padding-bottom: 10px;
    color: #4aaaa5;
    margin-left: 15px;
    font-size: 24px;
}
.input{
    width: 620px;
}
.submit{
    background: #4aaaa5;
    color: #ffffff;
}
.connect-body {
    float: right;
    width: 270px;
    background: #ffffff;
    padding-bottom: 15px;
}
.content-body p {
    padding: 10px 0 0 20px;
}

.connect-head{
    padding-bottom: 10px;
    width: 80%;
    margin-left: 15px;
    margin-bottom: 15px;
}
.connect-head p{
    border-bottom: 1px solid #dddddd;
    padding: 10px;
    font-size: 24px;
    color: #4aaaa5;
}
.connect-list li {
    display: inline;
    height:50px;
    margin-left: 20px;
}
.content-img{
    float: left;
    height: 125px;
    width: 125px;
    padding: 0 10px 0 0;
}
.img-link{
    height:60px;
    width: 60px;
}
#p1 {
    background-color: #4aaaa5;
    width: 100%;
    position: absolute;
    bottom: 7px;
    line-height: 30px;
    text-align: center;
    padding: 0 15px 0 0;
    color: #ffffff;
}
#p2  {
    background-color: #4aaaa5;
    width: 100%;
    position: absolute;
    bottom: 7px;
    line-height: 30px;
    text-align: center;
    padding: 0 15px 0 0;
    color: #ffffff;
}
#p3 {
    background-color: #4aaaa5;
    width: 100%;
    position: absolute;
    bottom: 7px;
    line-height: 30px;
    text-align: center;
    padding: 0 15px 0 0;
    color: #ffffff;
}
#p4 {
    background-color: #4aaaa5;
    width: 100%;
    position: absolute;
    bottom: 7px;
    line-height: 30px;
    text-align: center;
    padding: 0 15px 0 0;
    color: #ffffff;
}
#p5 {
    background-color: #4aaaa5;
    width: 100%;
    position: absolute;
    bottom: 7px;
    line-height: 30px;
    text-align: center;
    padding: 0 15px 0 0;
    color: #ffffff;
}
#p6 {
    background-color: #4aaaa5;
    width: 100%;
    position: absolute;
    bottom: 7px;
    line-height: 30px;
    text-align: center;
    padding: 0 15px 0 0;
    color: #ffffff;
}
footer{
    border-top: 5px solid #4aaaa5;
    clear: both;
    position: absolute;
    width: 100%;
    background: #666666;
    color: #ffffff;
    height: 75px;
    text-align: center;
    line-height: 75px;
    bottom: 0;
}
